@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="products">
    <div class="pro-ban">
        <h2>Latest Arrivals</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br> Libero minus doloremque explicabo optio
            a tempora nostrum vitae,<br> Repellat non sint at voluptate nemo iure eius?
        </p>
    </div>
    <div class="photo-grid">
        <div class="card"
             style="background-image:url('/img/product1.jpg')">
        </div>
        <div class="card"
             style="background-image:url('/img/product2.jpg')">
        </div>
        <div class="card"
             style="background-image:url('/img/product3.jpg')">
        </div>
        <div class="card"
             style="background-image:url('/img/product4.jpg')">
        </div>
        <div class="card"
             style="background-image:url('/img/product1.jpg')">
        </div>
        <div class="card"
             style="background-image:url('/img/product2.jpg')">
        </div>
        <div class="card"
             style="background-image:url('/img/product3.jpg')">
        </div>
        <div class="card"
             style="background-image:url('/img/product4.jpg')">
        </div>
        <div class="card"
             style="background-image:url('/img/product1.jpg')">
        </div>
        <div class="card"
             style="background-image:url('/img/product2.jpg')">
        </div>
        <div class="card"
             style="background-image:url('/img/product3.jpg')">
        </div>
        <div class="card"
             style="background-image:url('/img/product4.jpg')">
        </div>
    </div>
</section>