@{
}
<div class="form-bg">
    <form class="form" name="signup" action="Signup" method="post"
        <h1>Sign up</h1>
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Enter username" required>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="Enter Email address" required>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Enter password" required>
        <input id="retype" type="password" name="retype" placeholder="Confirm password" required>
        <label for="dof">Date of birth</label>
        <input id="dof" type="date" name="dof" required>
        <input class="submit" type="submit" name="submit" id="signup" value="signup">
    </form>
</div>