@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab','Montserrat', monospace;
    font-weight: 500;
    margin: 0;
}

:root {
    --white: #fcecdd;
    --light-orange: #ffc288;
    --dark-orange: #fea82f;
    --orange-ts: rgba(255, 103, 1, 0.1);
    --primary: #ff6701;
    --black: #222222;
}

header {
    background-color: var(--dark-orange);
    width: 100%;
    z-index: 100;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#navbar li {
    list-style-type: none;
}

#navbar li a {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    transition: text-decoration 0.5s ease;
}

#navbar li a:hover {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.4rem;
}

#sign {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    transition: text-decoration 0.5s ease;
}

#sign:hover {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.4rem;
}

#logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}

#logo a {
    text-decoration: none;
    color: var(--black);
}

#logo span {
    color: var(--white);
}

#slider-btn {
    display: inline-block;
    border-radius: 25px;
    border-radius: 2rem;
    font-size: 1.2rem;
    color: var(--white);
    background-color: var(--primary);
    text-decoration: none;
    margin-top: 2rem;
    font-weight: 600;
    padding: 0.9rem 1.8rem;
}
#slider-btn:hover {
    background-color: hsl(24, 100%, 59%);
}

#recent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("/img/post.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

#recent h2 {
    font-size: 4rem;
    color: var(--black);
    text-align: center;
}

#recent button {
    color: var(--primary);
    background-color: var(--white);
    border: none;
    border-radius: 2rem;
    font-size: medium;
    font-weight: 600;
    padding: 0.9rem 1.4rem;
    cursor: pointer;
}

#recent button:hover {
    color: var(--white);
    background-color: hsl(24, 100%, 59%);
}

#services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
    width: 100%;
    gap: 1rem;
    padding: 2rem 0;
    background-color: var(--primary);
    grid-template-areas: ". head head ." "card1 card2 card3 card4";
}
#services h2 {
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
}

.grid-item1 {
    grid-area: service-head;
    grid-column: 1/span 3;
    grid-row: 1/2;
}

footer {
    background-color: var(--dark-orange);
}

#foot-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1rem 1rem;
}

footer p {
    text-align: center;
    margin: 0%;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div ul li {
    list-style-type: none;
    margin: 0.5rem 0;
}

footer div ul {
    margin: 0;
    padding-left: 0;
}

footer div ul li a {
    text-decoration: none;
    color: var(--black);
}

footer div ul li a:hover {
    color: var(--primary);
}

.s-card {
    color: var(--black);
    background-color: var(--light-orange);
    padding: 1rem 2rem;
    height: 11rem;
    width: 16rem;
    border-radius: 20px;
    box-shadow: 2px 2px 9px 2px hsl(0, 0%, 27%);
}

.service-icons {
    height: 3rem;
    width: 3rem;
}

.social-icons {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.2rem 0;
}

.social-icons:hover {
    transform: scale(1.2, 1.2);
    filter: brightness(200%);
}
.ham-menu {
    display: none;
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 0.5rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white );
}

.form-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/img/vecteezy_vector-abstract-background.jpg");

    background-size: cover;
    background-position: center;
    height: 100vh;
}
.form {
    width: 28rem;
    background-color: var(--white);
    color: var(--primary);
    padding: 1rem;
    border: 4px solid var(--light-orange);
    border-radius: 8px;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 0 2rem;
}
.form h1 {
    text-align: center;
}
.form label {
    display: none;
}

.form input {
    display: block;
    margin: 2.5rem auto;
    width: 100%;
    padding: 0.8rem 0.5rem;
    border: none;
    border-bottom: 2px solid var(--primary);
    font-size: 0.9rem;
}

.form input:focus {
    border: none;
    border-bottom: 2px solid var(--dark-orange);
    outline: none;
}

.form input[type="date"] {
    color: #7a7a7a;
}

#signup {
    width: 80%;
    border: none;
    border-radius: 20px;
    background-color: var(--dark-orange);
    color: var(--black);
    font-size: 1.4rem;
    margin: 1.5rem auto 1.5rem auto;
    cursor: pointer;
    font-family: 'Roboto Slab';
}
#signup:hover {
    background-color: var(--primary);
    color: var(--white);
}

.main {
    height: 100vh;
    width: 100%;
}

.wrapper, .slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide::before{
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,0.2);
     z-index: 10;
}

.slide .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide .image-date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 100;
}

.image-date span.text {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
}

.image-date h2 {
    font-size: 3.5em; 
    font-weight: 600;
    color: var(--primary);
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--light-orange);
}

#contact-form div h2 {
    font-size: 2rem;
    color: var(--primary);
    text-align: center;
    margin: 2rem auto 0.5rem auto;
}
#contact-form div h3 {
    font-size: 3.5rem;
    color: var(--black);
    margin: 0.5rem auto 2rem auto;
}

#contact-form form {
    width: 35rem;
    background-color: transparent;
    color: var(--primary);
    padding: 1rem;
    border-radius: 8px;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 0 2rem;
}

#contact-form form input, textarea {
    display: block;
    margin: 1rem auto;
    width: 100%;
    padding: 0.8rem 0.5rem;
    border: none;
    font-size: 0.9rem;
}

#contact-form form input:focus, textarea:focus {
    border: none;
    border: 2px solid var(--dark-orange);
    outline: none;
}
#send-msg {
    width: 80%;
    border: none;
    border-radius: 20px;
    background-color: var(--dark-orange);
    color: var(--black);
    font-weight: 700;
    font-size: 1.4rem;
    margin: 1.5rem auto 1.5rem auto;
    cursor: pointer;
    font-family: 'Roboto Slab';
}
#send-msg:hover {
    background-color: var(--primary);
    color: var(--white);
}

#contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--black);
}

#contact-info div {
    width: 100%;
}
#contact-info div h3 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto 4rem auto;
    color: var(--primary);
}

#contact-info div ul  {
    margin-left: 8rem;
    color: var(--white);
}
#contact-info div ul li {
    font-size: 1rem;
    margin-top: 3rem;
}
#products{
    width: 100%;
    background-color: var(--white);
}
#products .pro-ban {
    background-image: url('/img/latest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    text-align: center;
    overflow: hidden;
}
#products .pro-ban h2 {
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--primary);
}
#products .pro-ban p {
    font-size: 1.5rem;
    width: 100%;
    margin: 2rem auto 1rem auto;
    color: var(--white);
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }
.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(240px , 1fr));
}
.photo-grid {
    display: grid;
    padding: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(250px , 1fr));
    grid-auto-rows: 250px;
    align-items: center;
    justify-content: center;
}